[submodule "extern/commonlibsse"]
	path = extern/commonlibsse
	url = https://github.com/SeaSparrowOG/CommonLibSSE
[submodule "Extern/CommonlibSSE"]
	path = Extern/CommonlibSSE
	url = https://github.com/SeaSparrowOG/CommonLibSSE
