[submodule "Tools/BethesdaCMakeModules"]
	path = Tools/BethesdaCMakeModules
	url = https://github.com/Exit-9B/BethesdaCMakeModules.git
[submodule "Tools/SKSE-CMakeModules.git"]
	path = Tools/SKSE-CMakeModules.git
	url = https://github.com/Exit-9B/SKSE-CMakeModules.git
[submodule "Extern/CommonlibSSE"]
	path = Extern/CommonlibSSE
	url = https://github.com/SeaSparrowOG/CommonLibSSE
